/*
  This stylesheet contains the css classes needed to colorize the line
  labels in the display.

  To customize this use as class name the name of the line without any
  blanks and all lower case. For instance "Bus N9" becomes ".busn9"
 */



/*
  Straßenbahn
*/
.stylelintignore
.str1 {
  background-color: #ed1c24;
}

.str3 {
	background-color: #f49ac1;
}
.str4 {
	background-color: #f172ac;
}

.str7 {
	background-color: #f7956b;
}

.str9 {
	background-color: #f69b95
}

.str16 {
  background-color: #00accd;
}

.str18 {
  background-color: #0095da;
}

 
